head
  title Noonniep: Web Robots
  link(type="text/css", rel="stylesheet", href="/stylesheets/journal.min.css")
  script(type="text/javascript", src="/scripts/codemirror.js")
  script(type="text/javascript", src="/scripts/clike.js")
  script(type="text/javascript", src="/scripts/homepage.js")
  link(type="text/css", rel="stylesheet", href="/stylesheets/codemirror.css")
  style(type="text/css") .CodeMirror {border: 8px inset #dee;} .CodeMirror-scroll{ height: auto; overflow: visible; }
  style(type="text/css") p{ color: #444; }
body(onload="loadCode();")
  div.container
    div.row
      div.span12
        h2 Noonniep
        
        h3 Mission
        p Make the best robotic creations of hackerspaces, museums, and garage tinkerers open for anyone to code.
        
      div.span12
        h3 What To Do
        p Make a program in the&nbsp;
        a(href="/code-env") code editor
        span &nbsp;or&nbsp;
        a(href="/blockly/demos/code/index.html") block builder
        span .
    
      br
      
      img.span10(src="http://i.imgur.com/AvnDI.jpg")
      br
      br
      
      img.span10(src="http://i.imgur.com/5rUXc.jpg")
      br
      br