head
  title Noonniep Livestream
  script(src="/socket.io/socket.io.js", type="text/javascript")
  link(type="text/css" rel="stylesheet", href="/stylesheets/journal.min.css")
body
  div.navbar
    .navbar-inner
      .container
        a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
    
        a.brand(href="/") Noonniep
        a.brand(href="/blockly/demos/code/index.html", style="text-transform:none;") Code Editor
        a.brand(href="/livestream", style="text-transform:none;") Livestream

  div.container
    .row
      .span7
        h3 Watch Robot
        iframe(src="http://www.ustream.tv/embed/9893969", width="500", height="350", scrolling="no", frameborder="0", style="border: 0px none transparent;")
        br
        h3 Data Stream
        ul#livedata(style="margin-left:-30px;border:1px solid #000;padding:6px;height:400px;overflow-y:scroll;")
      .span5
        #wait(style="display:none;padding:10px;background-color:#ffffaa;")
          #wait-inner
            h4 Your program is in the cue
            p Please wait.

        h4#codename Program: #{program.name}
        p
          span Updated in realtime by&nbsp;
          a(href="http://socket.io", target="_blank") socket.io
    br
    br

  script(src="/scripts/livestream.js", type="text/javascript")